.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #181d1f;
  color: #fdfdfb;
}
.feature-headline {
  padding: 1em;
}
.feature-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  flex-wrap: wrap;
  justify-content: center;

}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 3em;
  padding-top: 1em;
  clip-path: polygon(5% 0, 95% 1%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0 90%, 0 10%);
  z-index: 1;
  margin: 1em;
  min-height: 12em;
  width: 16em;
  color: #fdfdfd;
  background-color: rgba(0 0 0 / 80%);;
}